.card-long {
  background-color: #fff;
  width: 100%;

  &:not(:last-of-type) {
    border-top: solid 1px #bdbdbd;
    margin-bottom: 15px;
  }

  img {
    height: 60px;
    width: 48px;
  }

  .genres {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 18px;

    .genre {
      background: #ef5d5d;
      border-radius: 10px;
      color: #fff;
      display: inline-block;
      font-size: 10px;
      font-weight: 700;
      margin-right: 8px;
      padding: 2px 10px;
      text-transform: lowercase;
    }
  }

  &__left {
    width: 65%;
  }

  &__right {
    width: 35%;

    .left,
    .mid,
    .right {
      width: 33.3333333%;
    }
  }
}
