.header {
  background-color: #2d82c1;
  color: #fff;

  .signup {
    background: #3577ff;
    border-radius: 6px;
    box-shadow: 0 0 0 rgba(8, 150, 230, 0.6);
    color: rgb(var(--color-white));
    font-weight: 800;
    padding: 5px 15px;
    transition: box-shadow 0.6s ease, transform 0.2s ease-in-out;
  }

  .icon {
    height: 50px;
    width: 50px;
  }
}
